needs_site/.gitignore
needs_site/__pycache__/__init__.cpython-37.pyc
needs_site/__pycache__/secret_info.cpython-37.pyc
needs_site/__pycache__/settings.cpython-37.pyc
needs_site/__pycache__/urls.cpython-37.pyc
needs_site/__pycache__/wsgi.cpython-37.pyc
test_search_exec.ipynb
needs/__pycache__/__init__.cpython-37.pyc
needs/__pycache__/admin.cpython-37.pyc
needs/__pycache__/apps.cpython-37.pyc
needs/__pycache__/models.cpython-37.pyc
needs/__pycache__/urls.cpython-37.pyc
needs/views/__pycache__/__init__.cpython-37.pyc
needs/migrations/__pycache__/__init__.cpython-37.pyc
needs/migrations/__pycache__/0001_initial.cpython-37.pyc
needs/migrations/__pycache__/0002_auto_20201117_1341.cpython-37.pyc
needs/views/__pycache__/application_controller.cpython-37.pyc
needs_get/twitter.json
needs_get/__pycache__/const.cpython-37.pyc
needs_get/__pycache__/needs_get_dto.cpython-37.pyc
needs_get/__pycache__/needs_get_entity.cpython-37.pyc
needs_get/__pycache__/service_needs_get.cpython-37.pyc
db.sqlite3
needs_get/model/get_needs.h5
needs_get/__pycache__/needs_get_repository.cpython-37.pyc
needs/migrations/__pycache__/0003_auto_20201119_1351.cpython-37.pyc
needs/migrations/0003_auto_20201119_1351.py
needs/tests/__pycache__/__init__.cpython-37.pyc
needs/tests/__pycache__/test_needs_repository.cpython-37.pyc
needs/views/__pycache__/needs_dto.cpython-37.pyc
needs/views/__pycache__/needs_repository.cpython-37.pyc
needs_get/__pycache__/needs_get_repository.cpython-37.pyc
needs_get/__pycache__/needs_get_repository.cpython-37.pyc
needs_get/needs_get_entity.pyc
needs_get/__pycache__/needs_get_repository.cpython-37.pyc
needs_get/cron_e.log
needs_get/cron.log
static/admin/css/base.css
static/admin/css/changelists.css
static/admin/css/dashboard.css
static/admin/css/fonts.css
static/admin/css/forms.css
static/admin/css/login.css
static/admin/css/responsive_rtl.css
static/admin/css/responsive.css
static/admin/css/rtl.css
static/admin/css/widgets.css
static/admin/css/vendor/select2/LICENSE-SELECT2.md
static/admin/css/vendor/select2/select2.css
static/admin/css/vendor/select2/select2.min.css
static/admin/fonts/LICENSE.txt
static/admin/fonts/README.txt
static/admin/fonts/Roboto-Bold-webfont.woff
static/admin/fonts/Roboto-Light-webfont.woff
static/admin/fonts/Roboto-Regular-webfont.woff
static/admin/img/calendar-icons.svg
static/admin/img/icon-addlink.svg
static/admin/img/icon-alert.svg
static/admin/img/icon-calendar.svg
static/admin/img/icon-changelink.svg
static/admin/img/icon-clock.svg
static/admin/img/icon-deletelink.svg
static/admin/img/icon-no.svg
static/admin/img/icon-unknown-alt.svg
static/admin/img/icon-unknown.svg
static/admin/img/icon-viewlink.svg
static/admin/img/icon-yes.svg
static/admin/img/inline-delete.svg
static/admin/img/LICENSE
static/admin/img/README.txt
static/admin/img/search.svg
static/admin/img/selector-icons.svg
static/admin/img/sorting-icons.svg
static/admin/img/tooltag-add.svg
static/admin/img/tooltag-arrowright.svg
static/admin/img/gis/move_vertex_off.svg
static/admin/img/gis/move_vertex_on.svg
static/admin/js/actions.js
static/admin/js/actions.min.js
static/admin/js/autocomplete.js
static/admin/js/calendar.js
static/admin/js/cancel.js
static/admin/js/change_form.js
static/admin/js/collapse.js
static/admin/js/collapse.min.js
static/admin/js/core.js
static/admin/js/inlines.js
static/admin/js/inlines.min.js
static/admin/js/jquery.init.js
static/admin/js/popup_response.js
static/admin/js/prepopulate_init.js
static/admin/js/prepopulate.js
static/admin/js/prepopulate.min.js
static/admin/js/SelectBox.js
static/admin/js/SelectFilter2.js
static/admin/js/urlify.js
static/admin/js/admin/DateTimeShortcuts.js
static/admin/js/admin/RelatedObjectLookups.js
static/admin/js/vendor/jquery/jquery.js
static/admin/js/vendor/jquery/jquery.min.js
static/admin/js/vendor/jquery/LICENSE.txt
static/admin/js/vendor/select2/LICENSE.md
static/admin/js/vendor/select2/select2.full.js
static/admin/js/vendor/select2/select2.full.min.js
static/admin/js/vendor/select2/i18n/af.js
static/admin/js/vendor/select2/i18n/ar.js
static/admin/js/vendor/select2/i18n/az.js
static/admin/js/vendor/select2/i18n/bg.js
static/admin/js/vendor/select2/i18n/bn.js
static/admin/js/vendor/select2/i18n/bs.js
static/admin/js/vendor/select2/i18n/ca.js
static/admin/js/vendor/select2/i18n/cs.js
static/admin/js/vendor/select2/i18n/da.js
static/admin/js/vendor/select2/i18n/de.js
static/admin/js/vendor/select2/i18n/dsb.js
static/admin/js/vendor/select2/i18n/el.js
static/admin/js/vendor/select2/i18n/en.js
static/admin/js/vendor/select2/i18n/es.js
static/admin/js/vendor/select2/i18n/et.js
static/admin/js/vendor/select2/i18n/eu.js
static/admin/js/vendor/select2/i18n/fa.js
static/admin/js/vendor/select2/i18n/fi.js
static/admin/js/vendor/select2/i18n/fr.js
static/admin/js/vendor/select2/i18n/gl.js
static/admin/js/vendor/select2/i18n/he.js
static/admin/js/vendor/select2/i18n/hi.js
static/admin/js/vendor/select2/i18n/hr.js
static/admin/js/vendor/select2/i18n/hsb.js
static/admin/js/vendor/select2/i18n/hu.js
static/admin/js/vendor/select2/i18n/hy.js
static/admin/js/vendor/select2/i18n/id.js
static/admin/js/vendor/select2/i18n/is.js
static/admin/js/vendor/select2/i18n/it.js
static/admin/js/vendor/select2/i18n/ja.js
static/admin/js/vendor/select2/i18n/ka.js
static/admin/js/vendor/select2/i18n/km.js
static/admin/js/vendor/select2/i18n/ko.js
static/admin/js/vendor/select2/i18n/lt.js
static/admin/js/vendor/select2/i18n/lv.js
static/admin/js/vendor/select2/i18n/mk.js
static/admin/js/vendor/select2/i18n/ms.js
static/admin/js/vendor/select2/i18n/nb.js
static/admin/js/vendor/select2/i18n/ne.js
static/admin/js/vendor/select2/i18n/nl.js
static/admin/js/vendor/select2/i18n/pl.js
static/admin/js/vendor/select2/i18n/ps.js
static/admin/js/vendor/select2/i18n/pt-BR.js
static/admin/js/vendor/select2/i18n/pt.js
static/admin/js/vendor/select2/i18n/ro.js
static/admin/js/vendor/select2/i18n/ru.js
static/admin/js/vendor/select2/i18n/sk.js
static/admin/js/vendor/select2/i18n/sl.js
static/admin/js/vendor/select2/i18n/sq.js
static/admin/js/vendor/select2/i18n/sr-Cyrl.js
static/admin/js/vendor/select2/i18n/sr.js
static/admin/js/vendor/select2/i18n/sv.js
static/admin/js/vendor/select2/i18n/th.js
static/admin/js/vendor/select2/i18n/tk.js
static/admin/js/vendor/select2/i18n/tr.js
static/admin/js/vendor/select2/i18n/uk.js
static/admin/js/vendor/select2/i18n/vi.js
static/admin/js/vendor/select2/i18n/zh-CN.js
static/admin/js/vendor/select2/i18n/zh-TW.js
static/admin/js/vendor/xregexp/LICENSE.txt
static/admin/js/vendor/xregexp/xregexp.js
static/admin/js/vendor/xregexp/xregexp.min.js
static/admin/css/autocomplete.css
needs/migrations/0004_auto_20201123_1220.py
needs/migrations/0005_auto_20201123_1228.py
needs/migrations/__pycache__/0004_auto_20201123_1208.cpython-37.pyc
needs/migrations/__pycache__/0004_auto_20201123_1220.cpython-37.pyc
needs/migrations/__pycache__/0005_auto_20201123_1228.cpython-37.pyc
needs_learn/learn_data/learn_data_temp_20201130.csv
needs_learn/learn_data/learn_data.csv
needs_get/__pycache__/needs_get_repository.cpython-37.pyc
needs_get/model/get_needs_bk.h5
needs_get/__pycache__/needs_get_repository.cpython-37.pyc
needs_learn/cron_e.log
needs_learn/cron.log
needs_learn/__pycache__/const.cpython-37.pyc
needs_learn/__pycache__/learn_data_collect.cpython-37.pyc
needs_learn/__pycache__/learn_data_split.cpython-37.pyc
needs_learn/__pycache__/learn.cpython-37.pyc
needs_learn/__pycache__/service_learn.cpython-37.pyc
needs_learn/learn_data/q__2020-11-01_2020-11-03.csv
needs_learn/learn_data/q_なってほしい_2020-10-31.csv
needs_learn/learn_data/q_なってほしい_2020-11-3.csv
needs_learn/learn_data/q_パソコン なってほしい_2020-11-05.csv
needs_learn/learn_data/q_ほしい_2020-11-01_2020-11-03.csv
needs_learn/learn_data/q_もっと簡単にしてほしい_2020-11-05.csv
needs_learn/learn_data/q_もっと簡単にしてほしい_2020-11-07.csv
needs_learn/learn_data/q_もっと簡単にしてほしい_2020-11-08.csv
needs_learn/learn_data/q_もっと簡単にしてほしい_2020-11-12.csv
needs_learn/learn_data/q_もっと簡単にしてほしい_2020-11-15.csv
needs_learn/learn_data/q_もっと分かりやすくしてほしい_2020-11-05.csv
needs_learn/learn_data/q_もっと分かりやすくしてほしい_2020-11-12.csv
needs_learn/learn_data/q_もっと分かりやすくしてほしい_2020-11-15.csv
needs_learn/learn_data/q_改善してほしい_2020-11-07.csv
needs_learn/learn_data/q_改善してほしい_2020-11-08.csv
needs_learn/learn_data/q_改善してほしい_2020-11-11.csv
needs_learn/learn_data/q_改善してほしい_2020-11-12.csv
needs_learn/learn_data/q_改善してほしい_2020-11-14.csv
needs_learn/learn_data/q_改善してほしい_2020-11-15.csv
needs_learn/learn_data/q_改善してほしい_2020-11-20.csv
needs_learn/learn_data/q_手間がかかる_2020-11-07.csv
needs_learn/learn_data/q_分からない 困る_2020-11-08.csv
needs_learn/learn_data/q_分からない 困る_2020-11-12.csv
needs_learn/learn_data/q_分かりにくい_2020-11-06.csv
needs_learn/learn_data/q_分かりにくい_2020-11-12.csv
needs_learn/learn_data/q_分かりにくい_2020-11-14.csv
needs_learn/learn_data/q_分かりにくい_2020-11-15.csv
needs_learn/learn_data/q_面倒_2020-11-01_2020-11-03.csv
needs_learn/learn_data/q_面倒くさい　作業_2020-11-06.csv
needs_learn/learn_data/q_面倒くさい　作業_2020-11-12.csv
needs_learn/learn_data/q_面倒くさい　作業_2020-11-15.csv
needs_learn/learn_data/learn_data.csv.bk
needs_get/__pycache__/const_private.cpython-37.pyc
needs_get/const_private.py
needs_get/__pycache__/needs_get_repository.cpython-37.pyc
needs_get/__pycache__/needs_get_repository.cpython-37.pyc
crontab_contents.bk
needs_learn/learn_data/learn_data.zip
needs/views/__pycache__/needs_topic.cpython-37.pyc
needs/views/__pycache__/service_topic.cpython-37.pyc
needs/views/__pycache__/stop_words.cpython-37.pyc
needs_get/__pycache__/needs_get_repository.cpython-37.pyc
needs_get/__pycache__/needs_get_repository.cpython-37.pyc
