{% extends 'needs/base.html' %}

{% block content %}
    
    <p>件数：{{ needs_count }} / {{ all_count }}</p>
    {% if needs_list %}
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">sentence</th>
                        <th scope="col">date</th>
                        <th scope="col">lable</th>
                    </tr>
                </thead>
                <tbody>
                    {% for needs in needs_list %}
                        <tr>
                            <th name="nid">{{ needs.nid }}</th>
                            <th>{{ needs.sentence }}</th>
                            <th>{{ needs.date }}</th>
                            <th>{{ needs.label }}</th>
                        </tr>
                    {% endfor %}
                <tbody>
            </table>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}
