{% extends 'needs/base.html' %}




{% block content %}
    <form action="{% url 'needs:search_contain' %}" method="get">{% csrf_token %}
        <input type="submit" value="contain">
        <input type="text" name="search_request">
    </form>
    {% if search_request %}
    <p>検索ワード：{{ search_request }}</p>
    {% endif %}
    

    {% if search_contain_result %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">sentence</th>
                <th scope="col">date</th>
                <th scope="col">lable</th>
            </tr>
        </thead>
        <tbody>
            {% for needs in search_contain_result %}
                <tr>
                    <th name="nid">{{ needs.nid }}</th>
                    <th>{{ needs.sentence }}</th>
                    <th>{{ needs.date }}</th>
                    <th>{{ needs.label }}</th>
                </tr>
            {% endfor %}
        <tbody>
    </table>
    {% endif %}
{% endblock %}


