{% extends 'needs/base.html' %}
 
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% for topic_words in topics %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">word</th>
                <th scope="col">score</th>
            </tr>
        </thead>
        <tbody>
            {% for topic_word_score in topic_words %}
                <tr> 
                {% for topic_info in topic_word_score %}      
                    <th>{{ topic_info }}</th>
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
{% endfor %}
{% endblock %}


