{% extends 'needs/base.html' %}

{% block content %}
    {% if needs_list %}
        <ul>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">sentence</th>
                        <th scope="col">date</th>
                        <th scope="col">label</th>
                    </tr>
                </thead>
                <tbody>
                    {% for needs in needs_list %}
                        <tr>
                            <th>{{ needs.nid }}</th>
                            <th>{{ needs.sentence }}</th>
                            <th>{{ needs.date }}</th>
                            <th>{{ needs.label }}</th>
                        </tr>
                    {% endfor %}
                <tbody>
            </table>
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}

