{% extends 'needs/base.html' %}

{% block content %}
    
    {% if needs_list %}
            <table class="table sort-table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">sentence</th>
                        <th scope="col">date</th>
                        <th scope="col">lable</th>
                        <th scope="col">negative</th>
                        <th scope="col">positive</th>
                    </tr>
                </thead>
                <tbody>
                    {% for needs in needs_list %}
                        <tr>
                            <th name="nid">{{ needs.nid }}</th>
                            <th>{{ needs.sentence }}</th>
                            <th>{{ needs.date }}</th>
                            <th>{{ needs.label }}</th>
                            <th>{{ needs.negative }}</th>
                            <th>{{ needs.positive }}</th>
                        </tr>
                    {% endfor %}
                <tbody>
            </table>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}
