{% extends 'needs/base.html' %}

{% block content %}
<form action="{{ request.path }}" method="get">{% csrf_token %}
  <input type="submit" value="word_count">
  <input type="text" name="conditions_text">
</form>


<canvas id="myBarChart"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

<script>
    
    {% autoescape off %}
    var word_count = {{ word_count }};
    {% endautoescape %}

    var labels = [];
    var data = [];
    for (let key in word_count) {
        labels.push(key);
        data.push(word_count[key]);
    }

    var ctx = document.getElementById("myBarChart");
    var myBarChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [
          {
            label: '頻度',
            data: data,
            backgroundColor: "rgba(219,39,91,0.5)"
          }
        ]
      },
      options: {
        legend: {
            labels: {
                // このフォントプロパティ指定は、グローバルプロパティを上書きします
                fontColor: 'black'
            }
        },
        title: {
          display: true,
          text: '単語頻度グラフ'
        },
        scales: {
          yAxes: [{
            ticks: {
              suggestedMax: Math.max.apply(null, data),
              suggestedMin: 0,
              stepSize: Math.max.apply(null, data) / 10,
              callback: function(value, index, values){
                return  value +  '回'
              }
            }
          }],
          xAxes: [{                         //x軸設定
            ticks: {
                maxRotation: 90,
                minRoation: 90, 
                fontSize: 14          //フォントサイズ
            },
          }],
        },
      }
    });
    </script>


<script type="text/javascript">



</script>
{% endblock %}


